[Desktop Entry]
Exec=kcm_razerdrivers
Icon=linux_driver_logo
Type=Application
X-KDE-System-Settings-Parent-Category=hardware

Name=Razer drivers
Comment=Manage your Razer devices

X-KDE-Keywords=Devices,Razer

Categories=System;Qt;
