[Desktop Entry]
Exec=razergenie
Icon=razergenie
Type=Application
X-KDE-System-Settings-Parent-Category=hardware

Name=RazerGenie
Comment=Manage your Razer devices

X-KDE-Keywords=Devices,Razer

Categories=System;Qt;
