[Desktop Entry]
Exec=razergenie
Icon=razergenie
Type=Application

Name=RazerGenie
Comment=Manage your Razer devices

Categories=Settings;HardwareSettings;
