# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2016 Luca Weiss <luca@lucaweiss.eu>

[Desktop Entry]
Exec=razergenie
Icon=xyz.z3ntu.razergenie
Type=Application

Name=RazerGenie
Comment=Manage your Razer devices

Categories=Settings;HardwareSettings;
